<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.leo.myapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- android:theme="@android:style/Theme.NoTitleBar" -->

        <activity android:name=".MainActivity" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".GridActivity" />
        <activity android:name=".ShoppingActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TestPercentLayout" />
        <activity android:name=".Shopping2"></activity>
        <activity android:name=".DataSaveToXML1"></activity>
        <activity android:name=".DataSaveToXML2" />
        <activity android:name=".MenuTest"></activity>
    </application>

</manifest>